/test-res/
__pycache__/constants.cpython-37.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/ip_cli.cpython-37.pyc
__pycache__/ip_cli.cpython-311.pyc
__pycache__/ip_logging.cpython-37.pyc
__pycache__/ip_logging.cpython-311.pyc
__pycache__/ip_utils.cpython-37.pyc
__pycache__/ip_utils.cpython-311.pyc
__pycache__/job.cpython-37.pyc
__pycache__/job.cpython-311.pyc
__pycache__/process.cpython-37.pyc
__pycache__/process.cpython-311.pyc
__pycache__/queue_manager.cpython-37.pyc
__pycache__/queue_manager.cpython-311.pyc
__pycache__/send.cpython-37.pyc
__pycache__/send.cpython-311.pyc
logs/debug.log
__pycache__/job.cpython-311.pyc
batches/D0016443/d0016443_eval_ml_segmentation.yaml
batches/D0016443/d0016443.aim
destination/D0016447/d0016447_eval_ml_segmentation.yaml
destination/D0016447/d0016447.aim
failed/D0016410/d0016410_eval_ml_segmentation.yaml
failed/D0016410/d0016410.aim
failed/D0016410-1/d0016410_eval_ml_segmentation.yaml
failed/D0016410-1/d0016410.aim
failed/D0016410-1/masks/d0016410_CORT_MASK.AIM
failed/D0016410-1/masks/d0016410_TRAB_MASK.AIM
failed/D0016410-2/d0016410_eval_ml_segmentation.yaml
failed/D0016410-2/d0016410.aim
failed/D0016410-2/masks/d0016410_CORT_MASK.AIM
failed/D0016410-2/masks/d0016410_TRAB_MASK.AIM
failed/D0016410-3/d0016410_eval_ml_segmentation.yaml
failed/D0016410-3/d0016410.aim
failed/D0016410-3/masks/d0016410_CORT_MASK.AIM
failed/D0016410-3/masks/d0016410_TRAB_MASK.AIM
failed/D0016410-4/d0016410_eval_ml_segmentation.yaml
failed/D0016410-4/d0016410.aim
failed/D0016410-4/masks/d0016410_CORT_MASK.AIM
failed/D0016410-4/masks/d0016410_TRAB_MASK.AIM
__pycache__/job.cpython-311.pyc
__pycache__/job.cpython-311.pyc
failed/*
rec/*
processed/*
batches/*
destination/*
__pycache__/*
__pycache__/job.cpython-311.pyc
trained_models/radius_tibia_final.yaml
trained_models/radius_tibia_final.pth
