[Unit]
Description=Image-Processing-Server

[Service] 
ExecStart=/home/bonelab/.conda/envs/bl_torch/bin/python3.7 /home/bonelab/bls/main.py
StandardOutput=journal+console
StandardError=journal+console
WorkingDirectory=/home/bonelab/bls

[Install]
WantedBy=default.target
